name: Release to VSCode marketplace

on:
  create:
    tags:
      - v*

jobs:
  build:
    name: Publish
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Publish to Marketplace
        run: |
          npm ci
          npm install -g --unsafe-perm vsce
          vsce package
          vsce publish -p ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}
